/* CSS STYLE 

Copyright Manon Schmitt 2022
###############################
##################
############
*/

/* Animation page Contact.html | CSS */

.typing-title {
  width: 25.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes button-2 {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* CSS STYLE

Copyright Manon Schmitt 2022
###############################
##################
############
*/